[submodule "ThirdParty/SFML"]
    path = ThirdParty/SFML
    url = https://github.com/SFML/SFML.git
    branch = 3.0S.x

[submodule "ThirdParty/imgui"]
    path = ThirdParty/imgui
    url = https://github.com/ocornut/imgui.git
    branch = docking

[submodule "ThirdParty/imgui-sfml"]
    path = ThirdParty/imgui-sfml
    url = https://github.com/SFML/imgui-sfml.git
    branch = master

[submodule "ThirdParty/spdlog"]
    path = ThirdParty/spdlog
    url = https://github.com/gabime/spdlog.git
    branch = v1.x

[submodule "ThirdParty/imgui-filebrowser"]
	path = ThirdParty/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
	branch = dockable

[submodule "ThirdParty/entt"]
	path = ThirdParty/entt
	url = https://github.com/skypjack/entt.gitS
    branch = v3.15.0
  
